<ul class="nav">
  <li ><%= link_to image_tag( 'iaso-logo.png', alt: "Frederica Stahl", :class => "logo span_1_of_12"), root_path %> </li>
  <li ><%= link_to 'ABOUT', page_path('about'), :class => "nav-link" %></li>
  <li ><%= link_to 'TEAM', team_path, :class => "nav-link"%></li>
</ul>
