<%= render :partial => "navigation" %>
<div class="welcome-text span_10_of_12">
	<h1 class="greeting blue">We are, <br>
	IASO HEALTH.</h1>
	<ul>
		<li class="link">
			<%= link_to "LEARN MORE ABOUT IASO", asset_path("pdf/iaso_presentation.pdf"), :title => "Some link", :class => "link span_3_of_12" %>
		</li>
		<li class="link">
			<%= link_to "THE IASO EXPERIENCE", asset_path("pdf/iaso_wireframes.pdf"), :title => "Some link", :class => "link span_3_of_12" %>
		</li>
	</ul>
	<p class="description gray span_7_of_12"> 
		Iaso provides negotiation power to self-insured employers or union health/ welfare trusts, by delivering both cost and quality information to plan sponsors before they seek costly inpatient care. <%= link_to 'more', page_path('about'), :class => "more-link blue" %>
	</p>
</div>
