<div class="span_12_of_12">
<div id="index" class="span_3_of_12">
	<h2>Iaso Health</h2>
	<h3>Analysis</h3>
	<h3>Solution</h3>
	<h3>Team</h3>
</div>

<div class="center span_10_of_12">
	<div id="problem" class="left span_8_of_12">
		In March this year, the Center of Medicare and Medicaid Services (CMS) 
	publicly released a data set showing what hospitals charged and what Medicare paid for the 100 most common Medicare inpatient stays (DRGs) in 2011.
	</div>
	<div id="problem" class="right span_4_of_12">
		<%= image_tag( 'data.jpg', :style => "height:60px; width:340px;")%>
	</div>
</div>

	<div id="analysis">
		<ul>
			<li>There is enormous price variation per DRG</li>
			<li>a high-level of voluntary or non-critical procedures found in the 100 most common DRGs</li>
			<li>frequency of procedures</li>
			<li>quality</li>
		</ul>
	</div>

	<div id="solution"> 
		We see an opportunity to clarify healthcare consumers' decision as they balance cost, quality, outcome, and location. <a href='#'>View our proposal</a> 
	</div>
</div>
</div>


<div class="center span_12_of_12" id="team">
<h3>Team members</h3>
<ul class="span_12_of_12">
	<li class="span_4_of_12"> 
	<p>Giles Holt</p> 
	<p>One of my favorites.</p>
	</li>

	<li class="span_4_of_12"> 
	<p>Niko Stahl</p> 
	<p> Similarly one of the best.</p>
	</li>

	<li class="span_4_of_12"> 
	<p>Frederica Stahl</p> 
	<p>Yup, Yup</p>
	</li>
</ul>
</div>

<div class="center span_11_of_12" id="contact">
	<a href="#">Email</a> us at team@iaso.com.
</div>
<div>