<%= render :partial => "visitors/navigation" %>
<div class="welcome-text span_10_of_12">
	<h1 class="greeting blue">About us,<br>
		MISSION</h1>
	<p class="description gray span_7_of_12">Iaso provides negotiation power to self-insured employers or union health / welfare trusts, by delivering both cost and quality information to plan sponsors before they seek costly inpatient care. <br><br>

	The rate of self-insured corporations continues to increase under pressures from the Affordable Care Act and untenable health costs. These developments place corporations in an overly complex world of medical billing, leaving them to sort through a process frequently thought more complex than nuclear physics. At a monthly average of $1,000 of healthcare spending per employee, entering the healthcare market without the fiscal or performance information needed to make the best health care decisions poses a high risk to profitability and standard of care. <br><br>

	Iaso increases the efficiency of cost negotiations between provider and plan sponsor by exposing industry price-setting data to the 59% of corporations who self-insure. Our algorithm is built on the understanding that provider specialization leads to higher quality and lower costs (R=0.13, p<.05). Given a set of natural language DRGs, the Iaso algorithm uses 5 performance indicators, made up of quality, specialty, and cost-value data. We identify the best providers and limit results to a small number of distinct providers using a discrete knapsack optimization, thus ensuring that plan sponsors only need to negotiate with a manageable number of providers. The result is cost and quality delivered to both plan sponsor and participant. <br><br>

	</p>
</div>
