<%= render :partial => "visitors/navigation" %>
<div class="welcome-text span_10_of_12">
	<h1 class="greeting blue">Who we are,<br>
		THE TEAM</h1>
	<ul>
		<li class="bio">
			<%= image_tag( 'rica.jpg', alt: "Frederica Stahl", :class => "bio-photo span_1_of_12") %>
			<p class="Title">Health Informatics / Strategy</p>
			<p class="bio-text gray span_7_of_12">Frederica Stahl is a health information scientist focused on the flattening the knowledge hierarchy in medical sciences. Most recently, Frederica ran strategy and analytics for a crowd sourced health information platform, Meddik.  Frederica is a recipient of the Gates Scholarship for her work on the mathematical modeling of information mobility patterns, and has researched and published on conflict of interest, quality, and transparency in medical practice and sciences. She holds degrees in Biological Anthropology, Quantitative Sciences and Philosophy of Science from Cambridge, Columbia, and Harvard Universities.</p>
			
		</li>
		<li class="bio">
			<%= image_tag( 'niko.jpg', alt: "Niko Stahl", :class => "bio-photo span_1_of_12") %>
			<p class="Title">Data Analysis / Developer</p>
			<p class="bio-text gray span_7_of_12">Niko studied abstract maths at Cornell and has spent his time since working with computers and data. In recent years, he's entered the web domain as a data scientist at Seed Scientific, a data consultancy in New York. Niko has experience with data mining and the statistical modeling of large data sets and has built web applications with real-time statistics APIs. Looking forward he's dedicated to creating elegant technologies that solve big problems in a thoughtful way.
</p>
			
		</li>
		<li class="bio">
			<%= image_tag( 'giles.jpg', alt: "Giles Holt", :class => "bio-photo span_1_of_12") %>
			<p class="Title">Product Design / Developer</p>
			<p class="bio-text gray span_7_of_12">Giles Holt most recently studied Architecture & Design at RISD where his interests included environmental design, public-planning and policy, and health. Work experience includes software-product design for leading business analytics and robotics companies as well as emerging ventures. Previously Giles founded and ran an e-commerce company, with the aim of exposing lesser-known quality products. Educational achievements include studies at Harvard University, Brown University, and RISD as well as a Maharam Fellowship. </p>
			
		</li>

	</ul>
</div>
