/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


$white: white;
$blue: #145293;
$dkgray: #575757;

.white { 
	color: $white;
}

.blue { 
	color: $blue;
}

.gray { 
	color: $dkgray;
}

.content {
	padding-bottom: 5em; 
//  background-color: white;
//  padding: 20px;
//  margin: 0 -20px;
//  -webkit-border-radius: 0 0 6px 6px;
//  -moz-border-radius: 0 0 6px 6px;
//  border-radius: 0 0 6px 6px;
//  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


p {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
}
h3 {
	font-family: 'Source Sans Pro', sans-serif;
}

li {
	font-family: 'Source Sans Pro', sans-serif;	
}

.nav {
	li {
		list-style: none;
		text-decoration: none;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		.logo {
			width: 3em; 
		}
		.nav-link {
			list-style: none;
			text-decoration: none;

			font-weight: 700;
			font-size: 0.85em;
			font-style: none;
			color: $blue;
			text-align: left;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.welcome-text {
	float: right;

	.greeting {
		font-weight: 700;
		font-size: 7em;
		text-align: left;

	}
	ul {
		padding: 0; 

		li {
			list-style: none;
			display: inline;
			display: inline;
			font-weight: 400;
			font-size: 1.25em;
			font-style: none;
			color: $blue;
			text-align: left;
			padding-right: 2em;
			.link {
				color: $blue;
				&:hover {
					opacity: 0.8;
				}
			}

			a {
				text-decoration: none;
				display: inline;

			}
		}
	}
	.description {
		font-weight: 200;
		line-height: 1.25em;
		font-size: 1.25em;
		text-align: left;

		.more-link {
			text-decoration: none;
			font-size: 0.75;
		}
	}
}

.bio {
	margin: 2em 0em;
	.bio-photo {
		border-radius: 50%;
		float: left;
		margin-right: 2em;
	}
	.bio-text {
		font-weight: 200;
		line-height: 1.25em;
		font-size: 1em;
		text-align: left;
		padding-bottom: 2em;
	}
}
